.two {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 1em;
}

.buttonGroup {
  display: grid;
  position: absolute;
  grid-template-columns: auto;
  margin-top: 3em;
  z-index: 1;
}

.bar {
  display: block;
  width: 30vw;
  height: 170vh;
}

.map {
  display: block;
  width: auto;
  max-width: 60vw;
  height: 50vh;
  margin: 1em 0;
  padding-bottom: 2em;
}

.chart {
  display: block;
  width: auto;
  max-width: 60vw;
  height: 50vh;
  margin: 0.5em;
}

button {
  padding: 0.5em;
  margin: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px gray;
  text-align: center;
}

button:hover {
  background: lightgray;
}

button:active {
  transform: translateY(1px);
}

@media screen and (max-width: 1000px) {
  .bar {
    display: none;
  }

  .map {
    max-width: 90vw;
  }

  .chart {
    max-width: 90vw;
  }
}
