.App {
  margin: 0;
}

.header {
  display: block;
  width: 100vw;
  background: lightslategray;
  font-size: 24px;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer {
  display: block;
  width: 100vw;
  background: lightslategray;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.one {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
}

.two {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

.three {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.bar {
  display: block;
  width: 100vw;
  height: 50vh;
}

.map {
  display: block;
  width: 33vw;
  height: 50vh;
}

.chart {
  display: block;
  width: 50vw;
  height: 50vh;
  margin: 0;
  padding: 0;
}

.bar p {
  display: inline;
  position: relative;
  top: 35px;
 }

.map p {
  display: inline;
  position: relative;
 }

.chart p {
 display: inline;
 position: relative;
 top: 50px;
}

@media screen and (max-width: 1000px) {
  .two {
    grid-template-columns: auto;
  }

  .three {
    grid-template-columns: auto;
  }

  .map {
    width: 100vw;
  }

  .chart {
    width: 100vw;
  }
}