.App {
  text-align: center;
}

.App-header {
  background-color: darkslategray;
  width: 100vw;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: whitesmoke;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.Dashboard {
  display: grid;
  grid-template-areas: 
  "dashbox sunburst"
  "choropleth sunburst"
  "choropleth bubble";
  max-height: 100vh;
  row-gap: 1em;
  column-gap: 1em;
  margin: 1em;
}

.Dashbox {
  display: grid;
  grid-area: dashbox;
  grid-template-columns: auto auto auto auto;
  column-gap: 1em;
}

.Box {
  display: block;
  width: calc((70vw-3em) / 4);
  height: 10vh;
  background-color: whitesmoke;
  border-radius: 15px;
}

.Label {
  font-size: 1.5vh;
  margin: 1vh;
}

.Data {
  font-size: 4vh;
  margin: 0px;
  font-weight: bolder;
}


.Chart {
  display: block;
  width: calc(30vw - 3em);
  height: calc((100vh - 50px - 3em)/2);
  background-color: whitesmoke;
  border-radius: 15px;
}

#sunburst {
  grid-area: sunburst;
}

#bubble {
  grid-area: bubble;
}

#choropleth {
  grid-area: choropleth;
  width: 70vw;
  height: calc(90vh - 50px - 3em);
}

@media screen and (max-width: 800px) {
  .App-header {
    width: 200vw;
  }

  .Chart {
    width: calc(60vw - 3em);
  }

  #choropleth {
    width: 140vw;
  }
} 